*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html, body, #root {
  height: 100%;
  width: 100%;
} 
body {
  font-family: Arial, sans-serif;
  background-color: #494949;
}
.contactform {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: center;
}
.adduser{
  width: 45%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  background-color: #141414;
  border-radius: 10px;
}
.adduser h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5em;
}
.adduser form{
  display: flex;
  flex-direction: column;
  align-items: start ;
  justify-content: center;
  gap: 5px;
}
.adduser form input{
  padding: 8px 16px;
  width: 300px;
  color: black;
  font-size: 20px;
}
.adduser form input::placeholder{
  color: rgba(0, 0, 0, 0.603);
}
.adduser  form p{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.adduser form button{
  padding: 8px 25px;
  margin-left: 30%;
  border: 2px solid black;
  color: black;
  background-color: aqua;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.userlist {
  width: 45%;
  height: 100%;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start ;
  justify-content: flex-start;
  background-color: #141414;
  border-radius: 10px;
}
.userlist h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  margin-bottom: 20px;
}
.userbox {
  width: 100%;
  border-bottom: 2px solid red;
  margin: 4px;
  padding: 10px;      
  border-radius: 5px;
  background-color: #202020;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: start;
  position: relative;
}
.userbox i{
  font-size: 1.5em;
  margin-right: 15px;
  color: aqua;
  cursor: pointer;
}
.userbox i:nth-child(1){
  color: green;
  border: 2px solid green;
  border-radius: 50%;
  /* padding: 2px; */
}
.userbox i:nth-child(3){
  color: red;
  margin-left: left;
  position: absolute;
  right: 0%;
}
.userbox .userdetails h2{
  font-size: 1.5em;
  margin: 2px;
}
.userbox .userdetails h2:nth-child(2){
  font-size: 1em;
}