*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html, body, #root {
  height: 100%;
  width: 100%;
} 
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
}
#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}
.contactform {
  width: 70%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: center;
  gap: 20px;
  background-color: #00000046;
}
.adduser{
  width: 45%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  background-color: #00bfff28;
  border-radius: 12px;
  border: 1px solid #00bfff90;
}
.adduser h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5em;
}
.adduser form{
  display: flex;
  flex-direction: column;
  align-items: start ;
  justify-content: center;
  gap: 5px;
}
.adduser form input{
  padding: 8px 16px;
  width: 300px;
  color: #fff;
  font-size: 20px;
  background-color: transparent;
  border: 2px solid #00E5FF;
  border-radius: 5px;
  outline: none;
}
.adduser form input::placeholder{
  color: rgba(0, 0, 0, 0.603);
}
.adduser  form p{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.adduser form button{
  padding: 8px 25px;
  margin-left: 30%;
  border: none;
  color: white;
  background-color:  #007a88;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
.adduser form button:hover{
  background-color: #00E5FF;
  color: #000;
  scale: 1.1;
  box-shadow: 0 0 10px #00E5FF;
  transition: all 0.3s ease-in-out;
}
.userlist {
  width: 45%;
  height: 100%;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start ;
  justify-content: flex-start;
  background-color: #00f2ff34;
  border-radius: 12px;
  border: 1px solid #00f2ff93;
}
.userlist h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  margin-bottom: 20px;
}
.userbox {
  width: 100%;
  height: 70px;
  border: 1px solid #454545;
  margin: 4px;
  padding: 10px;      
  border-radius: 5px;
  background-color: #2a2a2a24;
  display: flex;
  flex-direction: row;
  align-items: start ;
  justify-content: start;
  position: relative;
}

.userbox:hover{
  height: 120px;
  transition: height 0.2s ease-in-out;
  box-shadow: 0 0 8px rgba(79, 234, 255, 0.5);
}
.userbox:hover .info{
  display: flex;
  transition: display 0.4s ease-in-out; 
}
.userbox .letter{
  font-size: 2em;
  margin-right: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #00a8bb;
  padding: 7px 12px;
  border-radius: 50%;
  font-weight: bold;
}
.userbox >i{
  font-size: 1.5em;
  margin-right: 15px;
  cursor: pointer;
  color: #FF5252;
  position: absolute;
  right: 0%;
  margin-top: 10px;
}
.userbox >i:hover{
  color: #FF0000;
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}
.userbox .userdetails h2{
  font-size: 1.5em;
  margin: 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.userbox .userdetails h2:nth-child(2){
  font-size: 1em;
  color: #B0B0B0;
}

.userbox .info{
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: center;
  gap: 20px;
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: none;
}
.userbox .info i{
  font-size: 1em;
  margin-right: 15px;
  cursor: pointer;
  border: 1.5px solid #fff;
  padding: 8px;
  border-radius: 5px;
  background-color: #00e5ffac;
}
.userbox .info i:hover{
  background-color: #00E5FF;
  color: #000;
  border: 1.5px solid #00E5FF;
  transition: all 0.3s ease-in-out;
}